*{
    box-sizing:border-box;
}
body{
    font-family: Arial, Tahoma, sans-serif;
}
.splash-screen{
    position:fixed;
    width:100%;
    height:100%;
    background-color: rgba(3, 169, 244, 0.9);
    left:0;
    top:0;
    z-index:3;
}
.splash-screen span{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #F44336;
    color: #FFF;
    font-size:30px;
    border-radius:6px;
    text-align:center;
    padding:15px 25px;
    cursor: pointer;


}
.info-container{
    width:1080px;
    margin:20px auto 0px;
    padding:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:24px;
    background-color: #F6F6F6;
    border: 2px solid #2196f3;
}
.info-container .timer{
    padding:5px 40px;
    background-color: #eee;
    border:4px solid #F44336;
    border-radius: 5px;
    font-weight:bold;
    font-size: 26px;
}
.memory-blocks-container{
    width:1100px;
    margin:20px auto 0px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.memory-blocks-container.no-clicking{
    pointer-events: none;
}
.memory-blocks-container .card-block{
    flex:1 0 200px;
    height:200px;
    transition: transform 0.5s;
    transform-style:preserve-3d;
    cursor:pointer;
    margin: 0 10px 20px;
    position:relative;
}
.memory-blocks-container .card-block .back{
 transform:rotateY(180deg);
 background-color: #F6F6F6;
}
.memory-blocks-container .card-block .front{
    background-color: #333;
    line-height: 200px;
}
.memory-blocks-container .card-block .front::before{
    content:"!";
    font-size: 140px;
    color:white;
    font-weight: bold;
}
.memory-blocks-container .card-block .back i{
    font-size: 140px;
    margin-top:30px;
}
.memory-blocks-container .card-block .face{
    position: absolute;
    width:100%;
    height:100%;
    text-align: center;
    border: 5px solid #2196f3;  
    backface-visibility: hidden;
}
.memory-blocks-container .card-block.flipped,
.memory-blocks-container .card-block.has-match{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
}
.styled-table {
    width:1080px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-top:50px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #2196f3;
    color: #ffffff;
    text-align: left;
}
.styled-table th{
    letter-spacing: 1px;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    font-size: 20px;
}
.styled-table tbody tr {
    border-bottom: 3px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #2196f3;
}
/* .container{
    position: relative;
    width:1080px;
    margin:25px auto;
}
button{
    position: absolute;
    left:0px;
    background-color: #F44336;
    color: #FFF;
    font-size:20px;
    border-radius:10px;
    text-align:center;
    padding:10px 15px;
    cursor: pointer;
    border:none;
} */